/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
/* main.css */
.toastify {
	padding: 12px 20px;
	color: #ffffff;
	display: inline-block;
	box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12),
		0 10px 36px -4px rgba(77, 96, 232, 0.3);
	background: -webkit-linear-gradient(315deg, #73a5ff, #5477f5);
	background: linear-gradient(135deg, #73a5ff, #5477f5);
	position: fixed;
	opacity: 0;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
	border-radius: 2px;
	cursor: pointer;
	text-decoration: none;
	max-width: calc(50% - 20px);
	z-index: 2147483647;
}
.toastify.on {
	opacity: 1;
}
.toast-close {
	background: transparent;
	border: 0;
	color: white;
	cursor: pointer;
	font-family: inherit;
	font-size: 1em;
	opacity: 0.4;
	padding: 0 5px;
}
.toastify-right {
	right: 15px;
}
.toastify-left {
	left: 15px;
}
.toastify-top {
	top: -150px;
}
.toastify-bottom {
	bottom: -150px;
}
.toastify-rounded {
	border-radius: 25px;
}
.toastify-avatar {
	width: 1.5em;
	height: 1.5em;
	margin: -7px 5px;
	border-radius: 2px;
}
.toastify-center {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	max-width: fit-content;
	max-width: -moz-fit-content;
}
@media only screen and (max-width: 360px) {
	.toastify-right,
	.toastify-left {
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		max-width: fit-content;
	}
}
.submit-btn {
	background-color: #4caf50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.signBtn {
	margin-top: 10px;
}
.error-message {
	display: block;
	color: red;
	font-size: 14px;
	margin-top: 5px;
}
.applyStylesToContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 30px;
	width: 500px;
	gap: 30px;
}
.createSelectWithOptions {
	width: 200px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.largeSelect {
	width: 300px;
}
.createInputWithPlaceholder {
	width: 200px;
	padding: 8px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.largeInput {
	width: 300px !important;
}
.submitContainer {
	text-align: right;
	padding-right: 25px;
}
.errorMessage {
	color: red;
	font-size: 14px;
}
.errorMessageHide {
	visibility: hidden;
}
.createTaskSucces {
	background-color: green;
}
.createTaskError {
	background-color: red;
}
.renderAuthrizationBtn {
	background-color: gray;
}
.renderAuthrizationBtnSucces {
	background-color: green;
}
.descriptionWrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.addDefaultListSelectionEl-container {
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
}
.wrapperList {
	display: block !important;
}
.forceSyncBtn {
	background-color: gray;
}
.teamMember {
	margin-top: 10px;
}
.hideIcon {
	display: none;
}
