
.prompt {
  font-size: 28px !important;
  width: 1300px !important;
  height: 1600px !important;

}

.suggestion-item, .suggestion-empty {
  font-size: 28px !important;
  margin-bottom: 2px;
}

.prompt-results {
  font-size: 28px !important;
}

.suggestion-item.is-selected {
  font-size: 28px !important;
}