/* @settings
name: Clever Search
id: clever-search-styles
settings:
	- 
		id: cs-color-settings
		title: Color Settings
		title.zh: 颜色设置
		type: heading
		level: 2
		collapsed: false
	- 
		id: cs-search-main-bgc
		title: Main Background Color
		title.zh: 主要背景色
		type: variable-color
        opacity: true
        format: hex
        default: '#'
	- 
		id: cs-search-bar-bgc
		title: Search Bar Background Color
		title.zh: 搜索框背景色
		type: variable-color
        opacity: true
        format: hex
        default: '#'
	- 
		id: cs-hint-char-color
		title: Hint Character Color
		title.zh: 提示字符颜色
		type: variable-color
        opacity: true
        format: hex
        default: '#'
	-
		id: cs-secondary-font-color
		title: Secondary Font Color (for folder)
		title.zh: 次要文字颜色 (文件夹)
		type: variable-color
		opacity: true
		format: hex
		default: '#'
	- 
		id: cs-pane-bgc
		title: Pane Background Color
		title.zh: 窗格背景色
        type: variable-color
        opacity: true
        format: hex
		default: '#'
	- 
		id: cs-item-selected-color
		title: Item Selected Color
		title.zh: 选中匹配项的颜色
		type: variable-color
        opacity: true
        format: hex
        default: '#'
	- 
		id: cs-highlight-bgc
		title: Highlight Background Color
		title.zh: 高亮背景颜色
        type: variable-color
        opacity: true
        format: hex
        default: '#'
	- 
		id: cs-highlight-char-color
		title: Highlight Character Color
		title.zh: 高亮字符颜色
		type: variable-color
        opacity: true
        format: hex
        default: '#'

*/
.cs-modal {
	width: 80%;
	height: 80%;
	padding: 1.5em 1em 1.5em 1.5em;
	/* remove unused room */
	overflow: hidden;
}

.cs-modal,
.cs-floating-window-container {
	background-color: antiquewhite;
}
/* mark {
    background-color: lightblue;
    color: black;
} */
/* dynamic blur all elements except active line */
.cs-privacy-blur .titlebar-button-container:not(:hover),
.cs-privacy-blur .workspace-ribbon.side-dock-ribbon:not(:hover),
.cs-privacy-blur .workspace-split.mod-horizontal:not(:hover),
.cs-privacy-blur .workspace-tab-header-container:not(:hover),
.cs-privacy-blur .view-header:not(:hover),
.cs-privacy-blur .inline-title:not(:hover),
.cs-privacy-blur .cm-embed-block:not(:hover),
.cs-privacy-blur .embedded-backlinks:not(:hover),
.cs-privacy-blur .status-bar:not(:hover) {
	filter: blur(5px);
}

.cs-privacy-blur .cm-line:not(:hover),
.cs-privacy-blur .callout:not(:hover),
.cs-privacy-blur img:not(:hover) {
	filter: blur(5px) !important;
}
.cs-privacy-blur .cm-line.cm-active {
	filter: none !important;
}

/* ========== For Setting Tab =======*/
/* 定义设置组标题的样式 */
.cs-setting-group-dev-title {
	position: relative;
	cursor: pointer;
	margin-bottom: 15px;
}

/* 定义伪元素的样式 */
.cs-setting-group-dev-title::before {
	content: var(--cs-dev-collapse-icon);
	position: absolute;
	left: -20px;
	top: 0;
}
