text {
    fill: #aaa;
    font-size: 12px;
   
}

rect:hover {
    stroke: #555;
    stroke-width: 0.5px;
}

/*
* Default color scale
*/

.color-empty {
    fill: var(--background-modifier-border);
}

.color-filled {
    fill: var(--text-accent);
}

#color-elem {
    color: var(--text-accent);
}