  /* 搜索框大小和字体 */

.prompt {
  font-size: 27px !important;
  width: 1300px !important;
  height: 900px !important;
  max-width: 1200px;
  max-height: 1200px;
  margin-top: 100px;
}

.suggestion-item, .suggestion-empty {
  font-size: 27px !important; 
  /* margin-bottom: 1px; */
}

.prompt-results {
  font-size: 27px !important;
}

.suggestion-item.is-selected {
  font-size: 27px !important;
}

.obsidian-icon.react-icon > svg {
  vertical-align: middle;
  margin-bottom: 7px;
  color:rgb(235, 127, 65);
  width: 30px;
  height: 30px;
  margin-left: 0.1rem !important;
}

svg {
  color:rgb(235, 127, 65);
}



/* src/main.less */
.isc.suggestion-container .suggestion-item {
  display: flex;
  place-content: space-between;
  color:rgb(235, 127, 65);
}
.isc.suggestion-container .suggestion-item .shortcode {
  margin-right: 8px;
  color:rgb(235, 127, 65);
}
.isc.suggestion-container .suggestion-item img.isc-icon {
  display: inline;
  height: var(--font-normal);
  width: var(--font-normal);
  color:rgb(235, 127, 65);
}
img.isc-icon {
  display: inline;
  height: 1em;
  width: 1em;
  vertical-align: text-top;
  color:rgb(235, 127, 65);
}
.markdown-preview-view img.isc-icon {
  height: var(--preview-font-size);
  width: var(--preview-font-size);
  color:rgb(235, 127, 65);
}

/* src/settings.less */
.mod-settings .isc-add-pack-input {
  margin-right: 5px;
  color:rgb(235, 127, 65);
}
.mod-settings .isc-settings-custom-icon .dragover {
  position: relative;
  background-color: var(--shade-10);
  border-radius: 5px;
  color:rgb(235, 127, 65);
}
.mod-settings .isc-settings-custom-icon .dragover:before {
  content: "Drop SVG icon(s) here";
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-normal);
  color:rgb(235, 127, 65);
}
.theme-dark .mod-settings .isc-settings-custom-icon .dragover {
  background-color: var(--shade-40);
  color:rgb(235, 127, 65);
}
.mod-settings .isc-settings-custom-icon .dragover > * {
  filter: blur(50px);
  color:rgb(235, 127, 65);
}

/* src/invalid.less */
.mod-settings .isc-add-pack-input.invalid,
.isc-icon-manager .icons .name textarea.invalid {
  color: var(--text-error);
  background: var(--background-primary-alt);
}

/* src/component/icon-manager.less */
.isc-icon-manager .icons {
  margin-top: 10px;
  display: grid;
  grid-auto-rows: auto;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  text-align: center;
}
.isc-icon-manager .icons .item {
  outline: none;
}
.isc-icon-manager .icons .item .icon {
  min-height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 6px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border: 2px solid transparent;
  font-size: 1.6em;
}
.isc-icon-manager .icons .item .icon > img {
  width: 1em;
  height: 1em;
}
.isc-icon-manager .icons .item .name {
  height: 49px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.isc-icon-manager .icons .item .name span {
  font-size: 0.7em;
  overflow: hidden;
  word-wrap: break-word;
}
.isc-icon-manager .icons .item .name textarea {
  margin-top: 5px;
  width: 100%;
  padding: 0 0.5em;
  font-size: 14px;
}
.isc-icon-manager .icons .item .name textarea:disabled {
  padding: 0;
  font-size: 16px;
  border: hidden;
  text-align: center;
  background: transparent;
}
.isc-icon-manager .icons .item .buttons button {
  padding: 4px 6px;
  margin: 0px 1px;
}


.metadata-property[data-property-key="tags"] .multi-select-pill {
 font-size: 22px;
}


