/* 隐藏大纲搜索 */
.quiet-outline .function-bar {
  /* background: var(--background-secondary) !important; */
  display: none;
  
  }


.setting-item-name {
    color: var(--text-normal);
    font-size: 23px;
    line-height: var(--line-height-tight);
}

.setting-item-description {
  color: var(--text-muted);
  font-size: 23px;
  padding-top: var(--size-4-1);
  line-height: var(--line-height-tight);
}

.status-bar-item:not(:last-child), .titlebar-button:not(:last-child) {
  margin-right: calc(var(--cmdr-spacing) - 8px);
  font-size: 20px;
}

.community-item-updated {
  font-size: 20px;
  color: var(--text-muted);
  margin-bottom: var(--size-4-2);
}

.community-modal-info-desc {
  font-size: 20px;
}

.community-item-author {
  font-size: 20px;
  line-height: var(--line-height-tight);
  color: var(--text-muted);
}

.modal-content {
  font-size: 20px;
}

.modal {
  --checkbox-size: 24px !important;
}


.view-content:has(.quiet-outline) {
  padding:0 !important
}

.quiet-outline .n-tree-node-content__text p {
  font-size: 27px !important;
  color: #8f9195;
}

body #sidebar div.toc-entry-container div.toc-entry {
  color: #8f9195;
}

/* 

.quiet-outline .function-bar .n-button {
  order:2 !important
}


.quiet-outline .n-input-wrapper {
}

.quiet-outline .n-slider {
  width: calc(100% - 20px);
  margin-left:10px !important;
  margin-bottom:8px !important;
  margin-top:12px !important;
}

.quiet-outline .function-bar .n-input {
  background-color: var(--background-secondary) !important;
}
.quiet-outline .function-bar .n-input__border,
.quiet-outline .function-bar .n-input__state-border {
  border:none !important;
  box-shadow:none !important;
}

.quiet-outline .function-bar input {
  box-shadow:none;
}

.quiet-outline .function-bar {
  /* background: var(--background-secondary) !important; */
  background: linear-gradient(to bottom, transparent 1%, var(--background-secondary) 15%);
  position: fixed;
  bottom:0;
  padding: 6px 0;
  z-index:1;
  width:100%;
  margin-bottom:0;
}

.quiet-outline .function-bar .n-button {
  box-shadow:none !important;
  opacity: 0.6;
  transform: scale(0.8);
}

.quiet-outline .function-bar .n-button__border {
  border:0 !important;
}

.quiet-outline .n-tree {
  padding: 2px;
  padding-bottom: 40px;
}

.quiet-outline .n-config-provider {
  display: flex;
}

.hider-ribbon:not(.is-mobile) .workspace-ribbon.mod-left {
  left:860px !important;
 
}

/* git diff CSS 内容大字体，修正排版 */

.diff .d2h-diff-table {

  font-size: 26px;

}

.diff .d2h-file-switch {
  cursor: pointer;
  display: none;
  font-size: 24px
}

.diff .d2h-tag {
  background-color: var(--background-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  margin-left: 5px;
  padding: 0 2px
}

.diff .d2h-file-stats {
  font-size: 24px;
  margin-left: auto
}

.diff .d2h-file-name-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  width: 100%
}

.diff .d2h-file-collapse {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: none;
  font-size: 22px;

}

.diff .line-num1, .diff .line-num2 {
  
 width: 0; 

}

.diff .line-num1 {
  padding-left: 30px;
}

.row-lines .table-view-table>tbody>tr>td, .row-lines table:not(.calendar) tbody>tr>td {
  border-bottom: 0px solid var(--background-modifier-border);
}

.colorblind .d2h-code-line ins, .colorblind .d2h-code-linenumber.d2h-ins {
  border-color: var(--sync-insert);
  border-style: none;
  /* border-width: 1px 2px; */
}


.modal.mod-sync-history.diff {
   min-width: 1920px; 
   min-height: 1080px; 
}

.modal-title {
  font-size: var(--font-ui-large);
  margin-bottom: 0.75em;
  font-weight: var(--font-semibold);
  text-align: center;
  line-height: var(--line-height-tight);
}

.modal-title {
  display: none;
  }


div.d2h-file-list-wrapper

{
  display: none;
}

.diff .sync-history-list-container button.mod-cta {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.8em;
}

/* git修正排版 */

.workspace-leaf-content[data-type="diff-view"] .line-num1, .workspace-leaf-content[data-type="diff-view"] .line-num2 {
 
  font-size: 24px;
  margin-right: -0.4em;
}

.u-muted {
  display: none;
}


.theme-light .workspace-leaf-content[data-type="diff-view"] .d2h-code-line del, .theme-light .workspace-leaf-content[data-type="diff-view"] .d2h-code-side-line del {
  background-color: #ff475040;
}

.theme-light .workspace-leaf-content[data-type="diff-view"] .d2h-code-line ins, .theme-light .workspace-leaf-content[data-type="diff-view"] .d2h-code-side-line ins {
  background-color: #68d36840;
  text-align: left;
}

.theme-light .workspace-leaf-content[data-type="diff-view"] .d2h-code-line ins, .theme-light .workspace-leaf-content[data-type="diff-view"] .d2h-code-side-line ins {
  background-color: #68d36840;
  text-align: left;
}

.kbanalizer-setting-hotkey {
 
  font-size: 24px;
 
}

#keyboard-component .setting-item-name span.suggestion-prefix {
  font-size: 24px;
  font-style:normal;
}

#keyboard-component .hotkey-search-container input {

  font-size: 24px;

}

#keyboard-component .community-plugin-search-summary.u-muted span {
  font-size: 24px;
}

#keyboard-layout {

  min-width: 1200px;
  height: 380px;
  margin-top: 30px;
}

.shortcuts-wrapper {
  max-width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0px auto;
}

.kb-layout-key {
 
  font-size: 20px;

}

.kb-layout-key.small-text {
  font-size: 15px;
}

#keyboard-component .setting-item-info small {
  font-size: 24px;
}

#keyboard-component .hotkey-list-container .setting-item {
  height: 60px;
}

.kbanalizer-setting-hotkey {

background-color: none; 

}

.status-bar-item:not(:last-child), .titlebar-button:not(:last-child) {
  margin-right: 1px;
  font-size: 20px;
}

.status-bar-item-segment {
 margin-right:0px;
}

.div[aria-label = "Settings"]{
  display: none !important;
}
.div[aria-label = "Help"]{
  display: none !important;
}
.div[aria-label = "Open another vault"]{
  display: none !important;
}

.search-result-file-match {
font-size: 28px !important;
}

.search-result-file-matches:has(.better-search-views-tree) {
  font-size: 28px !important;
}

.app-teleprompter .content[data-v-ccdae3f5] {
background-color: antiquewhite;
overflow-y: hidden;
overflow-x: hidden;
}

.app-teleprompter .v-btn--size-default {
 
  min-width: 74px; 
 
}

.quiet-outline {
  height: 100%;
  padding-bottom: 0px; 
}

  /* 隐藏切换库和 */
body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile {

  min-height: 12px;
  padding: 0px;
  gap: 0px;
  
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-switcher {
  align-items: center;
  gap: var(--size-2-1);
  padding: var(--size-2-1) var(--size-2-1) var(--size-2-1) var(--size-2-1);
  font-size: 22px !important;
  color: #bcbec0;
}

body:not(.is-mobile) .workspace-split.mod-left-split .workspace-sidedock-vault-profile .workspace-drawer-vault-name {
  width: calc(100% - 20px);
  margin-left:16px !important;
  margin-bottom:0px !important;
  margin-top:0px !important;
  font-size: 20px !important;
}

.quiet-outline .n-slider {
  width: calc(100% - 20px);
  margin-left: 10px ;
  margin-bottom: 2px ;
  margin-top: 0px ;
}

.cm-s-obsidian,
.markdown-preview-view {
  text-align: justify;
  hyphens: auto;
}

.theme-light .nav-folder-title {
  color:rgb(111, 108, 108);
}

body:not(.colorful-active) .horizontal-tab-nav-item.is-active, body:not(.colorful-active) .vertical-tab-nav-item.is-active {
  color: aliceblue;
}

.HyperMD-header-1, .inline-title[data-level='1'], .HyperMD-list-line .cm-header-1 {
  font-size: 32px !important;
}


.tooltip {
  font-style: normal !important;
  font-weight: 400;
  font-size: 28px ;
  line-height: 40px ;
  background-color: rgb(246, 246, 224) ;
  color: rgb(108, 121, 121);
 padding-left: 30px;
 padding-right: 30px;

}


.workspace-leaf-content[data-type="multiple-notes-outline"] .nav-folder-title {
  background-color:rgb(251, 236, 210) ;
  font-size: 28px !important;
}

.tree-item-self.mod-collapsible {
  background-color:rgb(251, 236, 210) ;
  font-size: 28px !important;
}

.nav-file-title, .nav-folder-title {
  background-color :rgb(251, 236, 210) ;
 
}

.workspace-leaf-content[data-type="multiple-notes-outline-folder-view"] .nav-file-title-content, .workspace-leaf-content[data-type="multiple-notes-outline"] .nav-file-title-content {
  font-size: 28px !important;
}

.workspace-leaf-content[data-type="multiple-notes-outline-folder-view"] .nav-folder-title-content, .workspace-leaf-content[data-type="multiple-notes-outline"] .nav-folder-title-content {
  font-size: 28px !important;
}

.el-calendar__body {
  background-color: #FBEED6;
  font-size: 22px;
}

.el-calendar__header {
  background-color: #FBEED6;
  padding: 12px 20px;
}

.el-progress-bar__outer {
  background-color: #21a825;
  border-radius: 100px;
  height: 6px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}


.el-calendar-table td.is-today {
  color: #21a825;
}

.el-calendar-table td.is-selected {
  background-color:#c5efc7;
}

#time-ruler :is(.text-xs) {
  font-size: 1.5rem;
  line-height: 1rem;
}

#time-ruler :is(.bg-accent) {
  background-color: var(--text-accent);
  size: 4px;
}

.text-sm {
  font-size: 1.5rem;
  line-height: 1.25rem;
}

div.status-bar-item.plugin-sync-google-calendar
{
 display: none;
}

.todo-metadata>* {
  font-size: 22px;
}

.fc .fc-daygrid-day.fc-day-today {
 
  background-color: #FBEED6;
}

.row-lines .table-view-table>tbody>tr>td, .row-lines table:not(.calendar) tbody>tr>td {
  background-color: #FBEED6;
}

.table-100 .dataview.table-view-table td:last-child, .table-100 .dataview.table-view-table th:last-child, .table-100 table td:last-child, .table-100 table th:last-child {
  padding-right: 0px; 
}


.prompt-instructions {
 display: none;
}

.another-quick-switcher__status__search-command {
  display: none;
}