/* Updated 2022-02-28 */

/* LEFT COLUMN rgb(251, 238, 214);*/

.mod-left-split .view-content, .mod-left-split .workspace-leaf-content {background-color: rgb(251, 238, 214);
}

.mod-left-split .workspace-tab-header-container-inner{background-color: rgb(251, 238, 214);
}

  

.is-hidden-frameless:not(.is-fullscreen) .workspace-tabs.mod-top-left-space .workspace-tab-header-container{background-color: rgb(251, 238, 214);
}


/* RIGHT COLUMN */
.mod-right-split .view-content, .mod-right-split .workspace-leaf-content {background-color: rgb(251, 238, 214);
  }

  .mod-right-split .workspace-tab-header-container-inner{background-color: rgb(251, 238, 214);
  }
  

  .mod-macos.is-hidden-frameless:not(.is-popout-window) .sidebar-toggle-button.mod-right {
    background-color: rgb(251, 238, 214);
  
  }

.is-hidden-frameless:not(.is-fullscreen) .workspace-tabs.mod-top-right-space .workspace-tab-header-container{background-color: rgb(251, 238, 214);
}

.nav-file-title, .nav-folder-title {
  font-size: 25px;
  font-family: consolas;
  margin-left: 0.7rem;
  padding-left: 0.5rem;
  margin-top: -0.3rem;
  padding-top: 0.3rem;
  line-height: 1.2;
}

.nav-action-text-button {
 
}

.nav-action-text-button {
  font-size: 20px;
  color: var(--text-muted);
  cursor: pointer;
  padding: 3px;
  margin: 5px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid;
}

body:not(.full-file-names) .tree-item-inner {
  font-size: 26px;
}

/* 字数统计隐藏*/
.status-bar-item.plugin-word-count > .status-bar-item-segment:last-child {
  display: none;
}


/* CLUTTER FREE MARKDOWN */

/* hide formatting tags when line is not active */
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-string.cm-url,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-link
{ display: none; } 

/* except list markers, which should appear everytime */ 
span.cm-formatting-list { display: inline !important; }

/* and task checkboxes, with special font */
span.cm-formatting-task { display: inline !important; font-family: monospace; }

.CodeMirror-code > :not(.CodeMirror-activeline) .cm-formatting-header {
  display:none;
}
.CodeMirror-code > :not(.CodeMirror-activeline) .cm-header::before {
  content: "§ ";
}

.workspace .mod-root .workspace-tab-header[data-type="markdown"] .workspace-tab-header-inner-icon, .workspace .mod-root .workspace-tab-header[data-type="empty"] .workspace-tab-header-inner-icon {
  display: none !important;
}


h1, .markdown-rendered h1 {
 
  font-size: 28px;
  
}

h2, .markdown-rendered h2 {
 
  font-size: 28px;
  
}

.break-words {
  font-size: 27px;
}

.choiceListItemName p {
  margin: 0;
  display: inline;
  font-size: 23px;
}

.rendered-markdown.svelte-9hk5bl input[type="checkbox"] {

  left: 18px;
 }
 

 .rendered-markdown.svelte-9hk5bl input[type="checkbox"] {
 top: 2px;
  margin-inline-end: 24px !important;
  border-color: var(--text-muted);
}

.scroller.svelte-126njqy {
  overflow: auto;
  flex: 1 0 0;
  background-color:rgb(251, 238, 214) !important;
}

.hour.svelte-9a769u {
  display: flex;
  flex: 1 0 0;
  background-color:rgb(251, 238, 214) !important;
}

.clickable-icon.svelte-xud6aw {
 
  border: none !important;
}

.clickable-icon {
 
  opacity:none !important;
}

.status-bar-item-segment:last-child {
  display: none;
}