


.setting-item-description, .setting-item-info {
  word-wrap: break-word;
  word-break: break-word;
  font-size: 24px ;
}

.setting-item-description {
  color: var(--text-muted);
  font-size: 24px ;
  padding-top: var(--size-4-1);
  line-height: var(--line-height-tight);
}

.community-item-desc, .community-modal-info-desc, .community-modal-search-summary, .inline-title, .metadata-property-key-input, .multi-select-pill-content, .nav-file-title-content, .nav-folder-title-content, .search-result-file-match, .setting-item-description, .setting-item-name, .suggestion-title, .titlebar-text, .tooltip, .tree-item-inner, .view-header-breadcrumb, .view-header-title, .workspace-tab-header-inner-title, input {
  unicode-bidi: plaintext;
  font-size: 24px ;
}

.community-modal-info-name {
  font-size: 26px ;
}

.community-item-name {
  font-size: 26px ;
}




body:not(.is-phone) .community-item.is-selected .community-item-author, body:not(.is-phone) .community-item.is-selected:hover .community-item-author, body:not(.is-phone) .community-item.is-selected .community-item-repo, body:not(.is-phone) .community-item.is-selected:hover .community-item-repo, body:not(.is-phone) .community-item.is-selected .community-item-downloads, body:not(.is-phone) .community-item.is-selected:hover .community-item-downloads, body:not(.is-phone) .community-item.is-selected .community-item-updated, body:not(.is-phone) .community-item.is-selected:hover .community-item-updated {
  font-size: 26px ;
}

.community-item-author {
  font-size: 21px ;
}



.community-item-updated {
  font-size: 21px ;
}


.cm-s-obsidian .cm-line.HyperMD-header {
  font-size: 25px ;
}




.markdown-rendered div:has( > :is(p,pre,table,ul,ol)) + div > :is(h1,h2,h3,h4,h5,h6) {
  font-size: 28px ;
}


.markdown-rendered h1, .HyperMD-header-1, .markdown-rendered h2, .HyperMD-header-2, .markdown-rendered h3, .HyperMD-header-3, .markdown-rendered h4, .HyperMD-header-4, .markdown-rendered h5, .HyperMD-header-5, .markdown-rendered h6, .HyperMD-header-6 {
  font-size: 28px !important;
}

.markdown-source-view.mod-cm6 .cm-line > *{
  font-size: 29px ;
}


.cm-s-obsidian .cm-line.HyperMD-header + .cm-line:not(.HyperMD-header):not(:has(>br:only-child)) {
  font-size: 26px ;
}


.quiet-outline .n-tree.ellipsis .n-tree-node .n-tree-node-content p {
  font-size: 26px ;
}

.community-item-desc, .community-modal-info-desc, .community-modal-search-summary, .inline-title, .metadata-property-key-input, .multi-select-pill-content, .nav-file-title-content, .nav-folder-title-content, .search-result-file-match, .setting-item-description, .setting-item-name, .suggestion-title, .titlebar-text, .tooltip, .tree-item-inner, .view-header-breadcrumb, .view-header-title, .workspace-tab-header-inner-title, input {
  unicode-bidi: plaintext;
  font-size: 26px ;
}

.workspace .mod-root .workspace-tab-header {
  
  padding-top: 0px;

  padding-bottom: 0px;
 
}


.tasks-list-text {
  font-size: 24px;
}

body.theme-light .tasksCalendar .task .note {
  font-size: 23px;
}

.tasksCalendar[view='week'].style9 .grid .cell:nth-child(6), .iconStyle9 .box:nth-child(6) {
  font-size: 23px !important;
}

.tasksCalendar .task .description {
  font-size: 20px;
}

.taskido .task .file {
  font-size: 23px !important;

}

.taskido .task .content {

  font-size: 20px !important;

}


header-group-title {
  font-size: 23px !important;
}

.workspace-tab-header, .clickable-icon, .dropdown, .checkbox-container, input.slider, .task-list-item-checkbox, .vertical-tab-nav-item, .nav-folder-title, .nav-file-title, .tree-item, .tree-item-self.is-clickable, .workspace-tab-header-status-icon, .workspace-tab-header-inner-close-button, .CodeMirror-foldmarker, .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded, .markdown-source-view.mod-cm6 .edit-block-button, .empty-state-action, .setting-hotkey-icon, .setting-add-hotkey-button, .setting-restore-hotkey-button, .spellchecker-dictionary-remove-button, .community-item, .status-bar-item.mod-clickable, .titlebar-button, .button, .frontmatter-container .frontmatter-container-header, .card.u-clickable, .list-item-part.clickable-icon, .u-clickable, .document-search-close-button, .markdown-preview-view .collapse-indicator, .markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator, .input[type=color], .menu-item, .modal-checkbox-label, .view-header-breadcrumb, .nav-action-button, .tree-item-inner, .callout.is-collapsible .callout-title, .modal-close-button {
  font-size: 27px !important;
}

.quiet-outline .n-tree.ellipsis .n-tree-node .n-tree-node-content p {
  margin-top: 6px;
}

.status-bar-item-segment:last-child {
 display: none;
}