
.prompt-results {
  font-size: 24px !important;
 }
 
 .prompt-results {
   font-size: 24px !important;
 }
 
 .suggestion-item.mod-complex {
   font-size: 24px !important;
 }
 
 .setting-item-name {
   font-size: 24px !important;
 }
 
 .choiceListItemName.svelte-1vcfikc {
   font-size: 24px !important;
 }
 
 .suggestion-item {
   font-size: 24px !important;
 }
 
 .markdown-source-view.mod-cm6.is-readable-line-width .cm-content, .markdown-source-view.mod-cm6.is-readable-line-width .cm-sizer {
   max-width: 1600px;
   width: 1200px;
 }




