.workspace-tab-header, .clickable-icon, .dropdown, .checkbox-container, input.slider, .task-list-item-checkbox, .vertical-tab-nav-item, .nav-folder-title, .nav-file-title, .tree-item, .tree-item-self.is-clickable, .workspace-tab-header-status-icon, .workspace-tab-header-inner-close-button, .CodeMirror-foldmarker, .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded, .markdown-source-view.mod-cm6 .edit-block-button, .empty-state-action, .setting-hotkey-icon, .setting-add-hotkey-button, .setting-restore-hotkey-button, .spellchecker-dictionary-remove-button, .community-item, .status-bar-item.mod-clickable, .titlebar-button, .button, .frontmatter-container .frontmatter-container-header, .card.u-clickable, .list-item-part.clickable-icon, .u-clickable, .document-search-close-button, .markdown-preview-view .collapse-indicator, .markdown-source-view.mod-cm6 .cm-fold-indicator .collapse-indicator, .input[type=color], .menu-item, .modal-checkbox-label, .view-header-breadcrumb, .nav-action-button, .tree-item-inner, .callout.is-collapsible .callout-title, .modal-close-button {

font-size: 26px !important;

}

body:not(.full-file-names) .tree-item-inner {
  font-size: 30px;
}

.nav-file-title, .nav-folder-title {
  font-size: 25px;
  font-family: consolas;
  margin-left: 0.7rem;
  padding-left: 0.5rem;
  margin-top: -0.3rem;
  padding-top: 0.3rem;
  line-height: 1.2;
}



body:not(.full-file-names) .tree-item-inner {
  font-size: 26px;
}

h1, .markdown-rendered h1 {
 
  font-size: 28px;
  
}

h2, .markdown-rendered h2 {
 
  font-size: 28px;
  
}

.break-words {
  font-size: 27px;
}

.choiceListItemName p {
  margin: 0;
  display: inline;
  font-size: 23px;
}




span.cm-hmd-internal-link.cm-link-alias-pipe.cm-list-1{

  display: none !important;

}

span.cm-hmd-internal-link.cm-link-has-alias.cm-list-1 {

  display: none !important;

}

.link-icon > * {
  display: none !important;
}


span.cm-hmd-internal-link.cm-link-alias-pipe{

  display: none !important;

}

span.cm-hmd-internal-link.cm-link-has-alias{

  display: none !important;

}


.plug-tg-text-xs {
  font-size: 22px;
  line-height: 1rem;
}

.md\:plug-tg-text-xs {
  font-size: 22px;
  line-height: 1rem;
}

.status-bar-item:not(:last-child), .titlebar-button:not(:last-child) {
  margin-right: 1px;
  font-size: 22px !important;
}

.chatbox textarea {

  font-size: 24px;
  font-weight:0;
}

.chat-input-container textarea {
 
  min-height: 15px;
  max-height: 200px;
  box-sizing: border-box;
}