/* sidebar tabs */

body:not(.show-sidebar-tabs) .workspace-tab-header-container,
body:not(.show-sidebar-tabs) .workspace-tab-header-container * {
    transition: var(--medium-transition)
}

body:not(.show-sidebar-tabs) .workspace-tab-header-container:is(:hover *,
:hover) {
    transition: var(--quick-transition);
    transition-delay: var(--transition-delay-passing-over-protection)
}

body:not(.show-sidebar-tabs) .workspace-tab-header-container:not(:hover) {
    height: 11px;
    box-shadow: var(--small-reverted-inset-shadow);
    padding-top: 0;
    padding-bottom: 0
}

body:not(.show-sidebar-tabs) .workspace-tabs:nth-child(3) .workspace-tab-header-container:not(:hover) {
    box-shadow: var(--medium-reverted-inset-shadow)
}

body:not(.show-sidebar-tabs) .workspace-tabs:not(:nth-child(3)) .workspace-tab-header-container {
    border-top: var(--basic-border)
}

body:not(.show-sidebar-tabs) .workspace-tabs.workspace-tabs.workspace-tabs.workspace-tabs .workspace-tab-header-container:hover {
    height: 55px;
    box-shadow: var(--big-reverted-inset-shadow);
    padding-bottom: 4px
}

body:not(.show-sidebar-tabs) .workspace-tab-header-container:hover .workspace-tab-header {
    margin-top: 10px
}

body:not(.show-sidebar-tabs) .workspace-tabs .workspace-tab-header-container:not(:hover) .workspace-tab-header,
body:not(.show-sidebar-tabs) .workspace-tabs .workspace-tab-header-container:not(:hover) .workspace-tab-header svg {
    opacity: 0;
    border: none
}

/* title bar showing */


body:not(.show-titlebar) .titlebar {
    display: none
}

.mod-macos:not(.show-titlebar) .mod-left-split .workspace-tabs:nth-child(3) .workspace-tab-header-container {
    height: calc(var(--mac-traffic-light-padding) + 37px);
    padding-top: calc(var(--mac-traffic-light-padding) + 5px)
}

body.mod-macos:not(.show-titlebar) .workspace-split.mod-left-split.is-collapsed~.mod-root .workspace-leaf:nth-child(2) .view-header {
    padding-left: 7vh
}

.theme-dark:not(.show-titlebar):not(.is-mobile),
.theme-light:not(.show-titlebar):not(.is-mobile) {
    padding: 0!important
}


.quiet-outline .n-slider {
margin-top: -3px !important;
left: 66px;
width: 180px !important;
}

.workspace-tab-header-new-tab .clickable-icon {
 display: none;
}

.nav-buttons-container {
  margin-top: -12px !important;
}